<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315164889161-ujel7mini4dfdsihs9f1ohkp0ragopt7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315164889161-ujel7mini4dfdsihs9f1ohkp0ragopt7</string>
	<key>API_KEY</key>
	<string>AIzaSyDW3K5GcjipTt4pzyX3mHGtlBlhcmCKuzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>315164889161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roma.ToDoAppFirebase</string>
	<key>PROJECT_ID</key>
	<string>todoappfirebase-be536</string>
	<key>STORAGE_BUCKET</key>
	<string>todoappfirebase-be536.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315164889161:ios:21fdbc4a56bd59f4dc2f98</string>
</dict>
</plist>